<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/add-product">Add Product</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <form action="/add-product">
        <div class="form-group">
          <label for="title">Enter Title</label>
          <input type="text" class="form-control" id="title" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
